<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	<h1>Assignment 1 Sum2</h1>	
	<form name="my_form" >
<!QUESTION1!>
		QUESTION1<br>
		Enter a number to check if its an Amstrong number &nbsp;<input  type="text"     		name="a"><br><br>
<!QUESTION2!>
		QUESTION2<br>
		Enter your age &nbsp;<input  type="text" name="age"><br>
		Enter your marital status(enter 1 for maried and 0 for unmarried) &nbsp;<input  type="text" name="ms"><br>
		Enter number of children &nbsp;<input  type="text" name="c"><br><br>
<!QUESTION3!>
		QUESTION3<br>
		Enter the number to check if its odd or even&nbsp;<input  type="text" name="k"><br><br>
<!QUESTION4!>
		QUESTION4<br>
		Enter the year to check if its a leap year&nbsp;<input  type="text" name="y"><br><br>
		<input type="button" class="btn btn-sm" onclick="submitData('/submitJSON')" value="Submit">	
	</form>	
	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
